body {background-color: cyan;
color: white;
margin-left: 20px;
}

@media screen and (max-width: 828px) {
  body {
    background-color: green;
  }
}

header {position: fixed; 
margin-left: 675px;
color: black;
}

footer {margin-top: 5000px;}

